<% if items.any? %>
  <% if query.present? %>
    <div class="body-sm text-text-secondary mb-4">
      <%= t("items.search.found", count: items.count) %>
    </div>
  <% end %>
  <div class="flex flex-col gap-4">
    <%= component(:item, collection: items) %>
  </div>
<% else %>
  <% if query.present? %>
    <div class="body-sm text-text-secondary"><%= t("items.search.not_found") %></div>
  <% else %>
    <div class="flex flex-col items-center justify-center mt-32">
      <div class="w-12 h-12 rounded-full bg-background-muted flex items-center justify-center">
        <%= icon("rss", css: "w-6 h-6") %>
      </div>
      <div class="mt-4">
        <%= component(:heading, size: :h3, text: t("items.index.no_items")) %>
      </div>
      <div class="mt-2">
        <p class="body-sm text-text-muted">
          <%= t("items.index.no_items_description") %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
