<%= component("container/app") do %>
  <div class="flex justify-between items-center">
    <%= component(:heading, size: :h1, text: t(".title")) %>
  </div>

  <div class="mt-8">
    <% if current_team.source_subscriptions.any? %>
      <% if @items.any? %>
        <div class="flex flex-col gap-4">
          <%= component(:item, collection: @items) %>
        </div>
      <% else %>
        <div class="flex flex-col items-center justify-center mt-32">
        <div class="w-12 h-12 rounded-full bg-background-muted flex items-center justify-center">
          <%= icon("rss", css: "w-6 h-6") %>
        </div>
        <div class="mt-4">
          <%= component(:heading, size: :h3, text: t(".no_items")) %>
        </div>
        <div class="mt-2">
          <p class="body-sm text-text-muted">
            <%= t(".no_items_description") %>
          </p>
        </div>
      </div>
      <% end %>
    <% else %>
      <div class="flex flex-col items-center justify-center mt-32">
        <div class="w-12 h-12 rounded-full bg-background-muted flex items-center justify-center">
          <%= icon("rss", css: "w-6 h-6") %>
        </div>
        <div class="mt-4">
          <%= component(:heading, size: :h3, text: t(".no_feeds")) %>
        </div>
        <div class="mt-2">
          <p class="body-sm text-text-muted">
            <%= t(".no_feeds_description") %>
          </p>
        </div>
        <div class="mt-4">
          <%= component(:button, href: search_feeds_path) { t(".search_feeds") } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
