<%= component("container/auth") do %>
  <%= form_with url: session_path, class: "space-y-4" do |form| %>
    <%= component(:input, form: form, label: User.human_attribute_name(:email), field_type: :email_field, attribute_key: :email, placeholder: "user@example.com") %>
    <%= component(:input, form: form, label: User.human_attribute_name(:password), field_type: :password_field, attribute_key: :password, placeholder: "⚫⚫︎⚫︎⚫︎⚫︎⚫︎⚫︎") %>
    <%= component(:button, type: "submit", class_name: "w-full mt-2") { t(".submit") } %>
  <% end %>
  <div class="mt-2 flex justify-center">
    <%= component(:button, variant: :link, href: new_password_path) { t(".forgot_password") } %>
  </div>
<% end %>
