<% if feeds.count.zero? %>
  <div class="body-sm text-text-secondary"><%= t("search.feeds.index.not_found") %></div>
<% else %>
  <div class="body-sm text-text-secondary">
    <%= t("search.feeds.index.found", count: feeds.size) %>
  </div>
  <div class="mt-2 flex flex-col">
    <% feeds.each do |feed| %>
      <%= link_to search_feed_path(feed.slug), class: "flex gap-2 items-center p-2 hover:bg-background", data: { turbo: false } do %>
        <div class="flex items-center justify-center border border-border rounded">
          <%= icon("rss") %>
        </div>
        <div class="flex items-center gap-1">
          <div class="body">
            <%= feed.name %>
          </div>
          <div class="body-sm text-text-secondary">
            <%= feed.description %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
