<%= component("container/app") do %>
  <%= component(:heading, size: :h1, text: @feed.name) %>
  <div class="body-sm text-text-secondary mt-2"><%= @feed.description %></div>

  <div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
    <% @articles.each do |article| %>
      <%= link_to article.url, class: "hover:bg-background rounded-md p-2", target: "_blank" do %>
        <% if article.image.present? %>
          <%= image_tag article.image, class: "w-full h-40 object-cover rounded-md mb-1" %>
        <% end %>
        <div class="body line-clamp-2"><%= article.title %></div>
        <div class="body-xs text-text-secondary line-clamp-3"><%= article.summary %></div>
        <div class="flex items-center gap-2 mt-1">
          <div class="flex items-center gap-1">
            <%= icon("calendar", css: "w-4 h-4") %>
            <div class="body-xs text-text-secondary"><%= l article.published.to_date %></div>
          </div>
          <div class="flex flex-wrap gap-2">
            <% article.categories.each do |category| %>
              <span class="body-xs text-text-secondary bg-background rounded-md px-2 py-1"><%= category %></span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
