<%= component("container/app") do %>
  <div class="flex justify-between items-center">
    <%= component(:heading, size: :h1, text: @folder.name) %>
    <div>
      <%= component(:dropdown) do |dropdown| %>
        <% dropdown.with_button do %>
          <div id="folder-dropdown-button">
            <%= icon("elipsis-horizontal", css: "text-text-muted w-8 h-8") %>
          </div>
        <% end %>

        <% dropdown.with_menu do %>
          <%= link_to edit_folder_path(@folder), data: { turbo_frame: "slide-over" }, class: "flex items-center gap-2 text-text-muted whitespace-nowrap px-2 py-1 hover:bg-background-muted rounded" do %>
            <%= icon("pencil-square", css: "w-5 h-5") %>
            <span class="body-sm"><%= t(".edit") %></span>
          <% end %>
          <hr class="my-1 border-border">
          <%= link_to folder_path(@folder), data: { turbo_method: :delete, turbo_confirm: t(".confirm") }, class: "flex items-center gap-2 text-alert whitespace-nowrap px-2 py-1 hover:bg-background-muted rounded" do %>
            <%= icon("trash", css: "w-5 h-5") %>
            <span class="body-sm"><%= t(".delete") %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mt-4" data-controller="loading--component">
    <% if @folder.source_subscriptions.any? %>
      <div class="flex justify-between items-center">
        <div></div>
        <%= form_with(
          url: search_folder_items_path(@folder),
          method: :post,
          data: {
            controller: "input--component",
            input__component_target: "form",
            action: "
              turbo:submit-start->loading--component#displayLoading
              turbo:submit-end->loading--component#hiddenLoading
            "
          }
        ) do |form| %>
          <%= component(
            :input,
            form: form,
            attribute_key: :query,
            placeholder: t(".search_placeholder"),
            data: { action: "input->input--component#search" }
          ) %>
        <% end %>
      </div>

      <div data-loading--component-target="loading" class="hidden">
        <%= component(:loading) %>
      </div>

      <div class="mt-4">
        <%= turbo_frame_tag :items_search_result, data: { loading__component_target: "content" } do %>
          <% if @items.any? %>
            <div class="flex flex-col gap-4">
              <%= component(:item, collection: @items) %>
            </div>
          <% else %>
            <div class="flex flex-col items-center justify-center mt-32">
              <div class="w-12 h-12 rounded-full bg-background-muted flex items-center justify-center">
                <%= icon("rss", css: "w-6 h-6") %>
              </div>
              <div class="mt-4">
                <%= component(:heading, size: :h3, text: t(".no_items")) %>
              </div>
              <div class="mt-2">
                <p class="body-sm text-text-muted">
                  <%= t(".no_items_description") %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="flex flex-col items-center justify-center mt-32">
        <div class="w-12 h-12 rounded-full bg-background-muted flex items-center justify-center">
          <%= icon("rss", css: "w-6 h-6") %>
        </div>
        <div class="mt-4">
          <%= component(:heading, size: :h3, text: t(".no_feeds")) %>
        </div>
        <div class="mt-2">
          <p class="body-sm text-text-muted">
            <%= t(".no_feeds_description") %>
          </p>
        </div>
        <div class="mt-4">
          <%= component(:button, href: search_feeds_path) { t(".search_feeds") } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
