<%= component("container/app") do %>
  <div class="flex justify-between items-center">
    <%= component(:heading, size: :h1, text: @folder.name) %>
    <div>
      <%= component(:dropdown) do |dropdown| %>
        <% dropdown.with_button do %>
          <%= icon("elipsis-horizontal", css: "text-text-muted w-8 h-8") %>
        <% end %>

        <% dropdown.with_menu do %>
          <%= link_to edit_folder_path(@folder), data: { turbo_frame: "slide-over" }, class: "flex items-center gap-2 text-text-muted whitespace-nowrap px-2 py-1 hover:bg-background-muted rounded" do %>
            <%= icon("pencil-square", css: "w-5 h-5") %>
            <span class="body-sm"><%= t(".edit") %></span>
          <% end %>
          <hr class="my-1 border-border">
          <%= link_to folder_path(@folder), data: { turbo_method: :delete, turbo_confirm: t(".confirm") }, class: "flex items-center gap-2 text-alert whitespace-nowrap px-2 py-1 hover:bg-background-muted rounded" do %>
            <%= icon("trash", css: "w-5 h-5") %>
            <span class="body-sm"><%= t(".delete") %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mt-32">
    <div class="flex flex-col items-center justify-center">
      <div class="w-12 h-12 rounded-full bg-background-muted flex items-center justify-center">
        <%= icon("rss", css: "w-6 h-6") %>
      </div>
      <div class="mt-4">
        <%= component(:heading, size: :h3, text: "フィードがフォローされていません") %>
      </div>
      <div class="mt-2">
        <p class="body-sm text-text-muted">フォルダにフィードを追加すると、フィードの内容を確認できるようになります。</p>
      </div>
      <div class="mt-4">
        <%= component(:button, href: search_feeds_path) { "フィードを検索" } %>
      </div>
    </div>
  </div>
<% end %>
