<%= component("container/settings") do %>
  <%= component(:heading, size: :h2, text: t(".title")) %>

  <%= form_with(
    model: @team,
    url: settings_team_path,
    class: "mt-8 bg-background border-border rounded p-4 space-y-4",
    data: {
      controller: "input--component loading--component",
      input__component_target: "form",
      action: "turbo:submit-start->loading--component#displayLoading turbo:submit-end->loading--component#hiddenLoading"
    }
  ) do |form| %>
    <div class="space-y-1">
      <%= component(:input, form: form, label: Team.human_attribute_name(:name), field_type: :text_field, attribute_key: :name, data: { action: "blur->input--component#submit" }) %>
      <div id="name-status"></div>
      <div data-loading--component-target="loading" class="hidden">
        <%= component(:loading) %>
      </div>
    </div>
  <% end %>
<% end %>
