<div class="flex items-center gap-3 hover:bg-object-hover p-2 rounded">
  <div class="w-8 h-8 bg-primary rounded-md flex items-center justify-center text-primary-foreground font-bold text-sm flex-shrink-0">
    T
  </div>

  <div class="flex-1">
    <%= component(:heading, size: :h3, text: "チーム名", class_name: "truncate") %>
  </div>
</div>

<div class="flex flex-col flex-1 justify-between" data-controller="layout--sidebar--component">
  <div class="mt-8">
    <div class="body-xs text-text-inactive px-2">Feeds</div>
    <div class="mt-1">
      <%= component(:navigation_item, icon: "rss", text: t(".all_feeds"), path: "#") %>

      <% helpers.current_team.folders.each do |folder| %>
        <%= component(:navigation_item, icon: "folder", text: folder.name, path: folder_path(folder)) %>
      <% end %>
    </div>
    <%= component(:button, variant: :link, href: new_folder_path, size: :sm, class_name: "px-2", data: { turbo_frame: "slide-over", action: "click->layout--sidebar--component#closeSidebar" }) do %>
      <div class="flex items-center gap-1">
        <%= helpers.icon("folder-plus", css: "w-4 h-4") %>
        <span class="body-xs"><%= t(".create_folder") %></span>
      </div>
    <% end %>
  </div>
  <%= component(:profile) %>
</div>
