<div class="flex items-center gap-3 hover:bg-object-hover p-2 rounded">
  <div class="w-8 h-8 bg-primary rounded-md flex items-center justify-center text-primary-foreground font-bold text-sm flex-shrink-0">
    T
  </div>

  <div class="flex-1">
    <%= component(:heading, size: :h3, text: helpers.current_team.name, class_name: "truncate") %>
  </div>
</div>

<div class="flex flex-col flex-1 justify-between" data-controller="layout--sidebar--component">
  <div class="mt-8">
    <div>
      <%= component(:navigation_item, icon: "home", text: t(".dashboard"), path: dashboard_path) %>
      <%= component(:navigation_item, icon: "glass", text: t(".search"), path: search_feeds_path) %>
    </div>
    <div class="mt-4">
      <div class="body-xs text-text-inactive px-2">Feeds</div>
      <div class="mt-1">
        <%= component(:navigation_item, icon: "rss", text: t(".all_feeds"), path: "#") %>

        <% helpers.current_team.folders.each do |folder| %>
          <%= component(:navigation_item, icon: "folder", text: folder.name, path: folder_path(folder)) %>
        <% end %>
      </div>
      <%= component(:button, variant: :link, href: new_folder_path, size: :sm, class_name: "px-2", data: { turbo_frame: "slide-over", action: "click->layout--sidebar--component#closeSidebar" }) do %>
        <div class="flex items-center gap-1">
          <%= helpers.icon("folder-plus", css: "w-4 h-4") %>
          <span class="body-xs"><%= t(".create_folder") %></span>
        </div>
      <% end %>
    </div>
  </div>
  <%= component(:dropdown, direction: :right) do |dropdown| %>
    <% dropdown.with_button do %>
      <%= component(:profile) %>
    <% end %>

    <% dropdown.with_menu do %>
      <%= link_to settings_profile_path, class: "flex items-center gap-2 text-text-muted whitespace-nowrap px-2 py-1 hover:bg-background-muted rounded" do %>
        <%= helpers.icon("cog-6-tooth", css: "w-5 h-5") %>
        <span class="body-sm"><%= t(".settings") %></span>
      <% end %>
      <hr class="my-1 border-border">
      <%= link_to session_path, data: { turbo_method: :delete }, class: "flex items-center gap-2 text-text-muted whitespace-nowrap px-2 py-1 hover:bg-background-muted rounded" do %>
        <%= helpers.icon("arrow-right-start", css: "w-5 h-5") %>
        <span class="body-sm"><%= t(".sign_out") %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
