<%= turbo_frame_tag turbo_frame_id do %>
  <div class="flex items-center gap-1 body-xs text-text-muted">
    <div class="flex items-center gap-0.5">
      <%= helpers.icon("rss", css: "w-4 h-4") %>
      <%= sources_count %>
    </div>
    <div class="flex items-center gap-0.5">
      <%= helpers.icon("newspaper", css: "w-4 h-4") %>
      <%= visible_items_count %>
    </div>
  </div>
<% end %>
